/*-----------------------------------*\
 * #EXPERIENCE
\*-----------------------------------*/

.experience { padding-block: var(--section-padding); }

.project-list > li { margin-bottom: 25px; }

.project-card {
    background: var(--bg-secondary);
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-12);
    box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
}

.project-card:is(:hover, :focus) {
    transform: translateY(-5px);
}

.load-more {
    font-size: var(--fs-4);
    color: var(--raw-seinna);
    text-decoration: underline;
    margin-top: 15px;
}

.project-toggle {
    background: var(--bg-secondary);
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.project-toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 137px;
    background: var(--raw-seinna);
    border-radius: 100px;
    transition: var(--transition-1);
    z-index: -1;
}

.project-toggle.active::before {
    left: 140px;
    width: 120px;
}

.toggle-btn {
    color: var(--color-primary);
    font-family: var(--ff-poppins);
    padding: 5px 25px;
    transition: var(--transition-1);
}

.toggle-btn.active { color: var(--white); }

.experience-box.active .experiences-list,
.experience-box .projects-list { display: none; }

.experience-box .experiences-list,
.experience-box.active .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fade 0.3s;
}

@keyframes fade {

    0% { opacity: 0; }
    100% { opacity: 1; }

}